body {
    margin: 0px;
}

body > h1, body > .container {
    margin: 0px 10px;
}

form div {
    margin-left: 50px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
}

#updated {
    display: none;
}

#definitions.loaded > #updated {
    display: block;
}

#definitions.loaded > #percentage {
    display: none;
}


/* Message */
#messageContainer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

#messageInnerContainer {
    position: relative;
    width: 100%;
    height: 100%;
/* -- cant seem to make this not apply to its descendants ... which is weird
  
    background-color: black;
    opacity: 0.5;
*/
}

#messageBox {
    opacity: 1.0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    margin-top: -50px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    border-shadow: 4px 10px 20px;
    width: 400;
    height: auto;
    text-align: center;
    z-index: 100;
}

#messageBox .close {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: #DADADA;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}