form div {
    margin-left: 50px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
}

#updated {
    display: none;
}

#definitions.loaded > #updated {
    display: block;
}

#definitions.loaded > #percentage {
    display: none;
}
